# netlify.toml

[build]
  command = "npx ts-node runFunction.ts && npm run build"
  publish = "out"

[context.production.environment]
  NODE_VERSION = "22"
  # 必要に応じて下記を有効化
  # BASE_URL = "https://yomogy.com"
  # GA_MEASUREMENT_ID = "G-XXXXXXXXXX"
  # GA_ADSENSE_ID = "ca-pub-XXXXXXXXXXXX"